@charset "UTF-8";

.container{
    width: 100%; /* 100% de largura*/
    height: 100%; /* 100% de altura*/

    display: grid; /* inicia grids + precisa de mais comandos*/
    grid-template-columns: 300px 300px; /*1fr 1fr*/
    /*
        cada 1fr é uma coluna e dividi o valor por igual.
        1fr = quer dizer que cada uma ocupa cada fração de espaço (divide cada uma em valores iguais).

        % tambem posso dividir por %.
        3 colunas = 33% 33% 33%

        Aqui eu vou colocar (quantas) colunas eu quero e o (tamanho) de cada coluna.
        ex: tem 2 valores então tenho 2 colunas.
        a primeira coluna vai ter 300px de largura.
        e a segunda coluna vai ter 100px de largura.
    */

    grid-template-rows: 300px 300px;  
    /*
        Aqui eu vou colocar (quantas) linhas eu quero e o (tamanho) de cada linha.
        ex: tem 2 valores então tenho 2 linhas.
        a primeira linha vai ter 200px de altura.
        e a segunda linha vai ter 300px de altura.
    */

    align-items: center; 
    /*
        alinha o eixo Y de cima pra baixo. 
        Alinha o elemento que está dentro da caixa.
        start = encima.
        center = centro.
        end = embaixo.
    */
    
    justify-items: center; 
    /*
        alinha o eixo X da esquerda para direita.
        Alinha o elemento que está dentro da caixa.
        start /ou/ left = esquerda.
        center = centro.
        end /ou/ right = direita.
    */
}

div{
    height: 200px;
    width: 200px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}




